.tasks {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.tags {
  background-color: var(--blue-100);
  box-shadow: var(--shadow);
  min-width: 20rem;
  padding: 1.5rem;

  @include respond(tab-port) {
    display: none;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin: 1.5rem 0;
  }
}

.logout {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: .5rem 1rem;
}

.api_key {
  position: absolute;
  top: 5px;
  left: 5px;
  color: var(--dark-indigo);
  font-size: 1.25rem;
}