<div class="unauthorized">
  <span class="unauthorized__heading">
      <span class="unauthorized__title">Vaya!</span>
      <span class="unauthorized__subtitle">No tienes permisos para acceder a esta página</span>
      <%= link_to "Volver", root_path, class: "btn basic rounded" %>
  </span>
  <%= image_tag "unauthorized.svg", class: "unauthorized__img" %>
</div>
